#simple-calculator {
  --button-bg-1: #dfdfdf;
  --button-bg-2: #dfdfdf;
  --primary-text-color: #414141;
  --secondary-text-color: #8a8a8a;
  --button-border-color-1: #8a8a8a;
  --button-border-color-2: #8a8a8a;
  --button-ripple-color: #8a8a8a;
  --button-shadow-color: #8a8a8a;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.expressionPanel {
  width: calc(100% - 10px);
  height: max-content;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 0;
  display: flex;
  align-items: center;
  background: #dfdfdf;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px 0px #8a8a8a, inset -5px -5px 10px 0px #ffffff;
}

#expression {
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  scroll-behavior: smooth;
  text-align: right;
  white-space: nowrap;
  font: 500 70px "Comfortaa";
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  color: var(--primary-text-color);
}
#expression span {
  display: inline-block;
}

.number-text {
  color: var(--primary-text-color);
}
.operator-text {
  color: var(--secondary-text-color);
}

.button-panel {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.panel-button {
  --x-d: 1px;
  --y-d: 1px;

  cursor: pointer;
  height: 20vw;
  max-height: 12vh;
  width: 20vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  backdrop-filter: blur(5px);
  transition: background 100ms ease-out, border-radius 100ms ease;
  box-shadow: 5px 5px 0px 0px #8a8a8a,
    5px 5px 10px #c4c4c4 inset,
    -5px -5px 10px #ffffff inset;
}

.panel-button:active {
  box-shadow: 2.5px 2.5px 0px 0px #8a8a8a;
}

.squircle .panel-button {
  border-radius: 10vw;
  corner-shape: squircle;
}

.circle .panel-button {
  border-radius: 12.5vw;
}

.panel-button p {
  font: 500 40px "Comfortaa";
  margin: 0;
}

.panel-button i {
  font-size: 40px;
  color: black;
}

.numbers {
  background-color: var(--button-bg-2);
}

.numbers .ripple-span {
  background-color: rgb(180, 180, 180);
}

.operators {
  background-color: var(--button-bg-1);
}
.operators .ripple-span {
  background-color: var(--button-ripple-color);
}