#simple-calculator {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.expressionPanel {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#expression {
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  scroll-behavior: smooth;
  text-align: right;
  white-space: nowrap;
  font: 500 70px "Comfortaa";
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
}
#expression span {
  display: inline-block;
}

.number-text {
  color: var(--primary-text-color);
}
.operator-text {
  color: var(--secondary-text-color);
}

.button-panel {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  justify-items: center;
  align-items: center;
}

.panel-button {
  cursor: pointer;
  height: 23vw;
  max-height: 12vh;
  width: 23vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  backdrop-filter: blur(5px);
  transition: background 100ms ease-out, border-radius 100ms ease;
}

.squircle .panel-button {
  border-radius: 10vw;
  corner-shape: squircle;
}

.circle .panel-button {
  border-radius: 12.5vw;
}

.panel-button p {
  font: 500 40px "Comfortaa";
  margin: 0;
}

.panel-button i {
  font-size: 40px;
}

.numbers {
  border: 1.5px solid var(--button-border-color-2);
  background-color: var(--button-bg-2);
}

.numbers .ripple-span {
  background-color: rgb(180, 180, 180);
}

.operators i,
.operators p {
  color: var(--button-text-color);
}

.operators {
  border: 1.5px solid var(--button-border-color-1);
  background-color: var(--button-bg-1);
}
.operators .ripple-span {
  background-color: var(--button-ripple-color);
}